.kaspi-header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo-img {
  height: 32px;
  margin-right: 40px;
}

.header-nav {
    margin-left: 100px;
}

.header-nav a {
  color: #999;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  transition: color 0.2s;
}

.header-nav a:hover {
  color: #333;
}

.content-wrapper {
  background-color: #f5f5f5; /* Серый фон как на Kaspi */
  min-height: 100vh;
  padding-top: 20px;
}