/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}