@font-face {
    font-display: swap;
    font-family: Instagram Sans Regular;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/InstagramSansRegular1.woff) format("woff"), 
    url(fonts/InstagramSansRegular.ttf) format("ttf");
}
body {
    overflow-y: scroll;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.left-side{
    width: 773px;
    display: flex;
    flex-direction: column;
}
.main{
    position: relative;
    z-index: 0;
    width: 100%;
}
.icon{
    margin-top: 45px;
    padding-left: 45px;
    height: 96px;
    max-width: 773px;
    width: 100%;
}
.logo{
    height: 83px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    max-width: 773px;
    width: 100%;
    height: auto;/*510px;*/
}
.welcome{
    color: #0A1317;
    font-family:Instagram Sans Regular !important;
    font-size: 2.8vw;
    font-weight: 400;
    text-align: center;
    line-height: 64.8px;
    overflow: visible;
    position: relative;
    display: block;
    word-break: break-word;
    word-wrap: break-word;
}
.highlight{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,#ff5c00,#ff0069,#d300c5);
    word-wrap: break-word;
    word-break: break-word;
}
.welcome::after{
    margin-bottom: -10px;
    display: block;
    content: "";
}
.images{
    height: 290px;
    width: 660px;
    object-fit: contain;
    margin-left: 37px;
}
.line-break{
    width: 2px;
    min-width: 2px;
    flex-shrink: 0;
    height: 690px;
    background-color:#DDE2E8;
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    position: relative;
    z-index: 0;
    background-color: #FFFFFF;
}
.sign-log{
    height: 650px;
    width: 532px;
    padding-top: 79px;
    padding-left: 52px;
    padding-right: 52px;
}
.login{
    display: flex;
    padding-top: 16px;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
}
.back-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.back-arrow{
    color: #0A1317;
    cursor: pointer;
    height: 40px;
}
.text-login{
    margin-bottom: 2px;
    color: #0A1317;
    text-align: start;
    font-stretch: 100%;
    word-wrap: break-word;
    font-size: 17px;
    font-weight: 600;
    line-height: 21.9997px;
    word-break: break-word;
    font-family: Optimistic, Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif !important;
}
.the-form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
form{
    margin: 0;
    padding: 0;
}
.field {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
}
.field input {
    width: 100%;
    height: 60px; 
    padding: 20px 16px 6px; 
    
    border-radius: 16px;
    border: 1px solid #CCD3DB;
    background-color: rgba(255, 255, 255, 0.2);
    
    font-size: 14px;
    color: #0A1317;
    outline: none;
    box-sizing: border-box;
}
.field label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 14px;
    color: #737373;
    pointer-events: none;
    transition: 0.18s ease;
}
.field input:focus + label,
.field input:not(:placeholder-shown) + label {
    top: 12px;
    transform: none;
    font-size: 11px;
    opacity: 0.8;
}
button{
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    width:100%;
    height:44px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    border:none;
}

button[type="submit"]{
    background:#0064E0;
    opacity: 0.4;
    color:#FFFFFF;
    border-radius:999px;
}

button[type="button"]{
    background:none;
    opacity:.75;
    border-radius:18px;
}
.login-alt{
    width: 100%;
    margin-top:30px;
    display:flex;
    flex-direction:column;
    gap:14px;
    align-items:center;
}
.login-facebook {
    border: 1.4px solid #CCD3DB;
    background: transparent;
    border-radius: 999px;
}
.signup {
    border: 1.6px solid rgb(65, 80, 247);
    background: transparent;
    color: rgb(65, 80, 247);
    border-radius: 999px;
}
.facebook-icon{
    color: #0064E0;
    height: 16px;
    width: 16px;
}
.meta-logo{
    height: 12px;
    width: 60px;
}